<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="OUTPUT_FILE" value="CMB_Payemnt_file_{0}.xls"></add>
    <add key="OUTPUT_FILE_FCY" value="CMB_Payemnt_file_fcy_{0}.xlsx"></add>
    <add key="DEBIT_ACC" value="122904286510202"></add>
    <add key="USAGE" value="供应商付款"></add>
    <add key="DEBIT_BANK" value="天津"></add>
    <add key="NUM_PREFIX" value="22ORRG"></add>
  </appSettings>
  <connectionStrings>
    <add name="ConnectString" connectionString="Data Source=CNWPDUSQL99\INF_SQL01, 10501;Initial Catalog=oe_robotics;User ID=urobotics;Password=China123;Connection Timeout=120"/>
  </connectionStrings>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="5"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="RollingStyle" value="Date"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="File" value="./log/"/>
      <datePattern value="yyyyMMdd'.log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]
"/>
        <param name="Footer" value="[Footer]
"/>
        <param name="ConversionPattern" value="%d [%t] %-5p - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
